.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto 300px;
    /* Adjusted margin */
    box-shadow: 0 0 10px rgba(11, 151, 130, 0.1);
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #c7d0d3;
    line-height: 1.5;
}

.btn-primary {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}